@media (max-width: 1330px) {
    .search-product {
        margin: 0 var(--spacing-lg);
    }
}

@media (max-width: 1090px) {
    section.main-products {
        flex-direction: column;
    }

    .main-side-left,
    .main-side-right {
        width: 100%;
    }

    .main-balance {
        margin-top: var(--spacing-md);
        ;
    }

    article.main-window-product .img-product img.img-main {
        width: 100%;
    }
}

@media (max-width: 1000px) {

    header nav,
    header div.link-accounts,
    header div.icon.cart,
    aside.filter {
        display: none;
    }

    .content-products .sec-prod .flex-content {
        justify-content: center;
        max-width: 100%;
        width: 100%;
    }

    header div.icon.burger {
        display: block;
    }
}

@media (max-width: 820px) {
    article.no-product-cart {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 760px) {
    .main-side-left .opts div, div.opts button {
        width: 100%;
    }

    .main-side-left {
        margin: 0;
    }

    .main-side-left .discount .discount-sec {
        flex-direction: column;
    }

    .main-side-right {
        margin-top: var(--spacing-md);
    }
    
    article.product-c.style-product, article.product-c.style-product .product-desc {
        flex-direction: column;
        align-items: center;
    }

    article.product-c.style-product .product-desc .product-opts {
        margin: 0;
    }

    article.product-c.style-product .product-desc .opts {
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    article.main-window-product {
        flex-direction: column;
    }

    .buy-products .details-screen {
        width: min-content;
    }

    article.main-window-product .img-product img.img-main {
        width: 305px;
    }

    .others div.same-products {
        justify-content: center;
    }

    section article.product-i,
    section article.product-i .product-img img {
        max-width: 180px !important;
    }
}

@media (max-width: 590px) {
    .newsletter form {
        flex-direction: column;
    }
}

@media (max-width: 475px) {
    footer .footer-content {
        flex-direction: column;
    }

    footer .footer-content .footer-section {
        text-align: center;
    }

    article.buy-products .details-screen {
        width: 100%;
    }

    article.main-window-product .img-product img.img-main {
        width: 100%;
    }

    article.main-window-product .side-left {
        flex-direction: column;
    }

    article.main-window-product .side-left .thumbnails {
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
    }

    article.main-window-product .side-left .thumbnails img {
        width: 24%;
    }
}

@media (max-width: 450px) {
    .referral-container {
        width: 100%;
    }
}

@media (max-width: 360px) {
    footer .app-links {
        flex-direction: column;
    }
}

@media (max-width: 250px) {
    .category {
        max-width: 100%;
    }
}